<style>
table {
  border-collapse:collapse;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
}

.header th{
  background: -moz-linear-gradient(center top , #FEFEFE, #ADD8E6) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));
}

td {
  padding: 12px;
  border: 1px solid gray;
  font-weight:bold;
}

tr.header {
  background-color: lightblue;
  border-bottom: black;
}

th {
  padding: 4px;
  border: 1px solid gray;
}

.totals th {
  background: -moz-linear-gradient(center top , #FEFEFE, #CDCDCD) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#CDCDCD));
}

.times td {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));background: -moz-linear-gradient(center top , #FEFEFE, #ADD8E6) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));
}

#log {
  margin-top:20px;
}

</style>


<h2>iTime</h2>
<%= link_to("New week", {:action => 'new'}, :class => 'action new') %>
<br />
<div id="log">
<% @weeks.each do |w| %>
<h3 style="text-align:left; text-shadow: 1px 1px 2px #EEE;"><%= w.sunday_start.to_date.to_formatted_s(:long) %> - <%= w.saturday_start.to_date.to_formatted_s(:long) %></h3>
<table>
  <tr class="header">
    <th style="background: -moz-linear-gradient(center top , #FEFEFE, #8FB6C1) repeat scroll 0 0 #EEEEEE; background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));"><%= w.sunday_start.strftime("%a") %></th>
    <th><%= w.monday_start.strftime("%a") %></th>
    <th><%= w.tuesday_start.strftime("%a") %></th>
    <th><%= w.wednesday_start.strftime("%a") %></th>
    <th><%= w.thursday_start.strftime("%a") %></th>
    <th><%= w.friday_start.strftime("%a") %></th>
    <th style="background: -moz-linear-gradient(center top , #FEFEFE, #8FB6C1) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));"><%= w.saturday_start.strftime("%a") %></th>
  </tr>
  
  <tr class="times">
    <td style="background: -moz-linear-gradient(center top , #FEFEFE, #8FB6C1) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));"><%= w.sunday_start.strftime("%H:%M") %> - <%= w.sunday_end.strftime("%H:%M") %></td>
    <td><%= w.monday_start.strftime("%H:%M") %> - <%= w.monday_end.strftime("%H:%M") %></td>
    <td><%= w.tuesday_start.strftime("%H:%M") %> - <%= w.tuesday_end.strftime("%H:%M") %></td>
    <td><%= w.wednesday_start.strftime("%H:%M") %> - <%= w.wednesday_end.strftime("%H:%M") %></td>
    <td><%= w.thursday_start.strftime("%H:%M") %> - <%= w.thursday_end.strftime("%H:%M") %></td>
    <td><%= w.friday_start.strftime("%H:%M") %> - <%= w.friday_end.strftime("%H:%M") %></td>
    <td style="background: -moz-linear-gradient(center top , #FEFEFE, #8FB6C1) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#8FB6C1));"><%= w.saturday_start.strftime("%H:%M") %> - <%= w.saturday_end.strftime("%H:%M") %></td>
  </tr>
  <tr class="totals">
    <th style="background: -moz-linear-gradient(center top , #FEFEFE, #ACACAC) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#ACACAC));"><%= a= (w.sunday_end.to_time - w.sunday_start.to_time) /60 / 60 %> Hours</th>
    <th><%= b=(w.monday_end.to_time - w.monday_start.to_time) / 60 / 60 %> Hours</th>
    <th><%= c=(w.tuesday_end.to_time - w.tuesday_start.to_time) / 60 / 60 %> Hours</th>
    <th><%= d=(w.wednesday_end.to_time - w.wednesday_start.to_time) / 60 / 60 %> Hours</th>
    <th><%= e=(w.thursday_end.to_time - w.thursday_start.to_time) / 60 / 60 %> Hours</th>
    <th><%= f=(w.friday_end.to_time - w.friday_start.to_time) / 60 / 60 %> Hours</th>
    <th style="background: -moz-linear-gradient(center top , #FEFEFE, #ACACAC) repeat scroll 0 0 #EEEEEE;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#ACACAC));"><%= g=(w.saturday_end.to_time - w.saturday_start.to_time) / 60 / 60 %> Hours</th>
  </tr>
</table>
  <ul>
    <li class="button" style="display: inline;"><%= link_to "Update", :action => 'edit', :id => w.id, :method => 'get' %></li>
    <li class="button" style="display: inline;"><%= link_to "Send E-mail", :action => 'mail', :week_id => w.id %></li>
    <li class="button" style="display: inline;"><%= link_to "Delete Log", :action => 'destroy', :week_id => w.id, :method => 'delete' %></li>
    <li style="float: top-right; display:inline;"><h3><%= a + b + c + d + e + f + g %> Total Hours</h3></li>
  </ul>
<hr />
<% end %>
</div>