<%= error_messages_for(@trip) %>
<table summary="Subject form fields">
  <tr>
    <th><%= f.label(:empty_1) %></th>
    <td><%= f.check_box(:empty_1) %></td>
  </tr>
  <tr>
    <th><%= f.label(:empty_2) %></th>
    <td><%= f.check_box(:empty_2) %></td>
  </tr>
  <tr>
    <th><%= f.label(:empty_3) %></th>
    <td><%= f.check_box(:empty_3) %></td>
  </tr>
  <tr>
    <th><%= f.label(:empty_4) %></th>
    <td><%= f.check_box(:empty_4) %></td>
  </tr>
  <tr>
    <th><%= f.label(:full_1) %></th>
    <td><%= f.check_box(:full_1) %></td>
  </tr>
  <tr>
    <th><%= f.label(:full_2) %></th>
    <td><%= f.check_box(:full_2) %></td>
  </tr>
  <tr>
    <th><%= f.label(:full_3) %></th>
    <td><%= f.check_box(:full_3) %></td>
  </tr>
  <tr>
    <th><%= f.label(:full_4) %></th>
    <td><%= f.check_box(:full_4) %></td>
  </tr>
  <tr>
    <th><%= f.label(:total) %></th>
    <td><%= f.text_field(:total) %></td>
  </tr>
</table>