<% @page_title = @report.route %>

<%= link_to("back", {:action => 'list'}, :class => 'button') %>

<div class="report edit">
  <h2>Report for <%= @report.route %> on <%= @report.date.strftime("%D") %></h2>

  <%= form_for(:report, :url => {:action => 'update', :id => @report.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Submit") %>
    </div>
    
  <% end %>
</div>
