<% @page_title = "Report List" %>
<%= link_to "New", {:action => "new"}, :class => "button" %>
<div class="report list">
<table>
  <tr>
    <th>Route</th>
    <th>Date</th>
    <th>Salvations</th>
    <th>Baptisms</th>
    <th>Workers</th>
    <th>Riders</th>
    <th>Visitors</th>
    <th>Night Bus</th>
    <th>Complete?</th>
  </tr>
  <% @reports.each do |r| %>
  <tr>
    <td style="height: 22px;"><%= r.route %></td>
    <td style="height: 22px;"><%= r.date.strftime("%D") %></td>
    <td style="height: 22px;"><%= r.number_salvations %></td>
    <td style="height: 22px;"><%= r.number_baptisms %></td>
    <td style="height: 22px;"><%= r.worker_attendance %></td>
    <td style="height: 22px;"><%= r.rider_attendance %></td>
    <td style="height: 22px;"><%= r.number_first_time_visitors %></td>
    <td style="height: 22px;"><%= r.number_night_riders %></td>
    <td style="height: 22px;"><%= r.complete ? "yes" : "" %></td>
    <td style="border:none;height: 22px;">
    <%= link_to "edit", {:action => "admin_edit", :id => r.id}, :class => "button" %>
    <%= link_to "delete", {:action => "destroy", :id => r.id}, :class => "button" %>
    </td>
  </tr>
  <% end %>
</table>    
</div>
