<%= error_messages_for(@section) %>

<table summary="Section form fields">
  <tr>
    <th><%= f.label(:page_id, "Page ID") %></th>
    <td><%= f.select(:page_id, Page.all.collect {|p| [p.name, p.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@section_count ) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible, "Visible?") %></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
  <tr>
    <th><%= f.label(:content_type) %></th>
    <td><%= f.text_field(:content_type) %></td>
  </tr>
  <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.text_field(:content) %></td>
  </tr>
</table>
