<style>
.sname {
  list-style-type:none;
}

.linkers a {
  color: black;
}
</style>
<% @subjects ||= [] %>
<% @page ||= [] %>
<% @subjects.each do |subject| %>
	<li class="sname"><b><%= subject.name %></b></li>
		<ul>
			<% subject.pages.visible.sorted.each do |page| %>
			<li class="linkers"><%= link_to_unless_current(page.name, :action => 'show', :id => page.permalink) %></li>
			<% end %>
		</ul>
	</li>
<% end %>

<% unless @page.blank? %>
<hr />
<div>
<h2><%= @page.name %></h2>

<% @page.sections.visible.sorted.each do |section| %>
  <div class="section">
    <% case section.content_type
       when 'HTML' %>
         <%= section.content.html_safe %>
    <% when 'text' %>
        <p><%= section.content %></p>
    <% end %>
  </div>
<% end %>
</div>
<% end %>