<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DillonHafer.com</title>
    <meta name="author" content="Dillon Hafer">
    <%= stylesheet_link_tag('public') %>
    <%= javascript_include_tag('jquery') %>
   <script> 
 $(document).ready(function(){
    $(".h").click(function() {$("#main").fadeToggle('slow');});
    });
</script>
  </head>
  <body>
    <div id="header">
    	<%= link_to(image_tag("dh-logo.png"), {:controller => 'public', :action => 'index'}, :class => 'logo') %>
	    <ul>
	    	<li style="display:inline;"><%= link_to("Resources", :action => 'show') %></li>
	    	<li style="display:inline;"><%= link_to("CDL", :action => 'cdls') %></li>
        <% if session[:admin] %>
	    	<li style="display:inline;"><%= link_to("Admin", :controller => 'access', :action => 'index') %></li>
        <% end %>
        <% if session[:username] %>
        <li style="display:inline; padding-right:4px;"><%= link_to("Log out", :controller => 'access', :action => 'logout') %></li>
        User: <b><%= session[:username] %></b>
        <% else %>
	    	<li style="display:inline;"><%= link_to("Log in", :controller => 'access', :action => 'login') %></li>
        <% end %>
	    </ul>
    </div>
    <div id="main">
      <div id="content">
        <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
        <%= yield %>
      </div>
    </div>
   
    <div id="footer">Copyright <span class="h">©</span> 2011 DillonHafer.com</div>
    <div>&nbsp;</div>
  </body>
</html>
